.bloco {
  margin-top: 20px;
  background: var(--pink-300);
  heigth: 200px;
  border-radius: .5rem;
  box-sizing: border-box;
  cursor: pointer;
  border: 0 solid #e5e7eb;
  outline: 2px solid transparent;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
}

.bloco:active {
  box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
  transform: translateY(0.125rem);
}

.bloco:focus {
  box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
}

.bloco img {
  width: calc(300px + 2rem);
  border-radius: .5rem .5rem 0 0;
  box-sizing: border-box;
}

.content {
  padding: 0.5rem 1rem;
}

.content h2 {
  color: var(--gray-900);
}

.content p {
  width: 300px;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.button a {
  appearance: none;
  background-color: var(--green-300);
  color: var(--gray-300);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button a:hover {
  background-color: var(--green-500);
  color: var(--gray-100);
}